/* src/Login.css */
.containerLogin {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.form {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  /* margin-top: 10px; */
}

.register-link {
  margin-top: 10px;
  color: rgb(195, 195, 199);
  text-decoration: underline;
  cursor: pointer;
}

.formLogin button {
  background-color: #707070;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  display: flex;  
  align-items: center;  
  justify-content: center; 
} 


  