* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(104, 72, 146)
}
.container {
  background-color: #161414;
  width: min(90%, 500px);
  top: 50%;
  left: 50%;
  padding: 4em 2em;
  border-radius: 0.5em;
  align-self: center;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
.section-container {
  display: flex;
  gap: 1em;
  justify-content: center;
}
.btn {
  padding: 1em 2em;
  border-radius: 0.5em;
  background-color: #3e3f43;
  color: #a9a7a7;
}
.btn-focus {
  background-color: rgb(110, 74, 156);
  color: #ffffff;
}
.time-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.container-btn-edit-timer {
  display: flex;
  justify-content: flex-end;
}
#time {
  margin-bottom: 1rem;
  text-align: center;
  color: #ffffff;
  font-size: 5em;
  font-weight: 600;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 2em;
}
#btn-start {
  padding: 1em 2em;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: #ffffff;
  color: #1b1b1b;
}
#btn-pause {
  display: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: #ffffff;
  color: #1b1b1b;
}
#btn-reset {
  display: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: #ffffff;
  color: #1b1b1b;
}
#btn-edit-timer {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: #ffffff;
  color: #1b1b1b;
  position: absolute;
}
.hide {
  display: none;
}
.show {
  display: block;
}